button {
    background-color: rgb(187, 184, 190);
    border: 6px rgb(71, 47, 87) outset;
    color: black;
    text-align: center;    
    font-size: 16px;
    padding: 6px;
    border-radius: 20px;
}
button:hover {
    background-color: rgb(220, 248, 255);
}
.byline {
    font-style: italic;
    font-size: 80%;
}
footer {
    background-color: rgb(220, 255, 255);
    text-align: center;
}
footer ul {
    list-style-type: none;
}
header {
    background-color: rgb(248, 233, 255); 
    text-align: center;   
}
main {
    background-color: white;
    color: black;
}
nav {        
    background-color:   rgb(220, 255, 255);
    border: 1px  rgb(71, 47, 87) solid;
    padding: 8px;
    margin: -1px 0px 0px 0px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}

nav li {
    display: inline;
    padding: 8px;    
}
.blueBackground {
    background-color: aqua;
}

.greenBackground {
    background-color: green;
}   
.redBackground {
    background-color: red;
}
.yellowBackground {
    background-color: yellow;
}
.purpleBackground {
    background-color: purple;
}