button {
    background-color: rgb(149, 140, 160);
    border: thin black solid outset;
    color: black;
    text-align: center;    
    font-size: 16px;
}
footer {
    background-color: azure;
    text-align: center;
}
header {
    background-color: rgb(244, 215, 255); 
    text-align: center;   
}
header p {
    font-weight: bold;
    font-size: 110%;
}
h1#new-point {
    text-align: center;
}
main {
    background-color: rgb(66, 66, 136);
    color: white;
}
.byline {
    font-style: italic;
    font-size: 80%;
}
img#list-button-utah {
    width: 100px;
    height: 100px;
    float: left;
}
nav {        
    background-color: aliceblue;
    border: 1px green solid;
    padding: 8px;
    margin: -1px 0px 0px 0px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}

nav li {
    display: inline;
    padding: 8px;    
}