button {
    float: left;
    width: 150px;
    background-color: rgb(187, 184, 190);
    border: 2px outset rgb(71, 47, 87);
    color: black;
    text-align: center;    
    font-size: 16px;
    border-radius: 10px;
    margin-top: -1px;
    margin-bottom: 12px;
}
button:hover {
    background-color: rgb(220, 248, 255);
}

input {
    float: left;
    width: 45px;
}

div {
    clear: both;
}
p {
    clear: both;
}